.mt-40 {
	margin-top: 40px;
}

.full-width {
    width: 100%;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.color-yellow {
    color: $yellow !important;
}

.small {
	font-size: 13px;
}

.text-center {
    text-align: center;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.font-14 {
    font-size: 14px !important;
}

.pb-50 {
	padding-bottom: 50px !important;
}

.pt-20 {
	padding-top: 20px !important;
}

.wp-caption-text {
	font-size: 14px;
	color: #999;
	font-weight: 300;
	font-style: italic;
	border-bottom: 1px solid #999;
	padding: 2px 2px 3px;
	margin-bottom: 40px;
}
