.mt-40 {
	margin-top: 40px;
}

.full-width {
    width: 100%;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.color-yellow {
    color: $yellow !important;
}

.small {
	font-size: 13px;
}

.text-center {
    text-align: center;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.font-14 {
    font-size: 14px !important;
}
