$black: #2A2A2A;
$blue: #253572;
$blue-light: #1896D4;
$yellow: #F6D22F;
$gray: #9E9E9E;
$gray-light: #D5D5D5;
$gray-lighter: #F3F5F8;
$gray-dark: #404040;
$orange: #FF6500;

$padding: 20px;
$border-radius: 2px;
