.import-wrapper {
    overflow: hidden;
    margin: 0 auto;
    margin-top: 20px;
    width: 840px;
    max-width: 100%;
    @include transition(height .2s ease-in-out);
}

.import-wizzard-finish-wrapper {
    height: 0;
}

#import-wizzard-finish {
    background-color: $blue-light;
    color: #fff;
    @include border-radius(1px);
}
