@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700&subset=latin-ext');

@import 'components/all';
@import 'base/all';
@import 'pages/all';

html {
	min-height: 100%;
    position: relative;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $black;
    font-size: 15px;
    margin-bottom: 414px;
	background-color: $gray-lighter;
	@include bp-small {
		margin-bottom: 986px;
	}
}

a {
    // font-weight: bold;
    color: $blue-light;
    @include transition(color .03s ease-in);
    &:hover {
        text-decoration: none;
        color: darken($blue-light, 5%);
    }
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

h3 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: center;
	&:after {
		content: '';
		display: block;
		margin: 24px auto 0;
		height: 4px;
		width: 85px;
		background-color: $gray-light;
	}
}

h4 {
	font-size: 18px;
	font-weight: bold;
	// text-align: center;
	margin-bottom: 20px;
}

ul, ol {
    margin-bottom: 0;

}

img {
	max-width: 100%;
}

// .container {
//     max-width: 1200px !important;
// }

.page-title {
    padding: 120px 0;
    background: linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../img/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
	&--has-overlaping-block {
		padding-bottom: 170px;
	}
    h1 {
        font-size: 40px;
        color: #fff;
        margin-bottom: 0;
    }
}

.small-icon {
    display: inline-block;
    font-size: 21px;
    color: darken($gray, 20%);
}

.section {
    position: relative;
    padding: 35px 0;
	background: #fff;
	img {
		margin: 10px 0 30px;
	}
    &--hero {
        background: linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('../img/main.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 100px;
        min-height: 450px;
    }
    &--contact {
        padding: 0;
    }
    &--gray {
        background: $gray-lighter;
    }
	&--single {
		margin-top: -50px;
		padding: 40px;
	}
	&--faq {
		background: $black;
		color: #fff;
		h3:after {
			background-color: $gray;
		}
	}
	&--content {
		background: $gray-lighter;
	    padding: 0 0 20px;
	}
	&--bkg-image {
		background: url('../img/bkg-img.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding: 60px 0;
		h3 {
			color: #fff;
		}
	}
	&--bkg-image-2 {
		background: url('../img/bkg-img-2.jpg');
	}
	&--bkg-image-3 {
		background: url('../img/bkg-img-3.jpg');
	}
	&--bkg-image-home {
		background: url('../img/fedex-home.jpg');
	}
	&--blue {
		background: darken($blue-light, 5%);
	}
}

.collapsible-block-wrapper:not(:first-of-type) {
	padding-top: 5px;
}

.collapsible-block__header {
	cursor: pointer;
	margin-bottom: 5px;
	i {
		font-size: 22px;
		color: $blue-light;
		margin-right: 12px !important;
	}
	h4 {
		font-size: 15px;
		font-weight: normal;
		margin-bottom: 0;
	}
}

.collapsible-block {
	padding-left: 35px;
	color: $gray;
}

.text-card-item {
	color: #fff;
	padding: 12px 30px;
	background: rgba(255,255,255,0.28);
	margin: 5px;
	position: relative;
	border: 0;
	overflow: hidden;
	@include border-radius(2px);
	&:active, &:focus {
		outline: none;
		span, i {
			opacity: .6;
		}
	}
	span {
		position: relative;
		z-index: 2;
	}
	.small-icon {
		color: rgba(255,255,255,0.1);
		position: absolute;
		z-index: 1;
		width: 100%;
		top: 0;
		left: 0;
		margin: 0 auto !important;
		text-align: center;
		font-size: 80px;
		line-height: 0.8;
		transform: rotate(-45deg);
		&.rotate-90 {
			transform: rotate(-90deg);
		}
	}
	i:not(.small-icon) {
		font-size: 22px;
	}
}
.text-list {
	li {
		margin-bottom: 7px;
	}
}

.date {
    font-size: 11px;
	font-weight: 300;
    color: $gray;
}

.info-block {
	font-weight: 300;
    h3 {
        text-align: center;
        margin-bottom: 25px;
		color: $gray-dark;
        &:after {
            content: '';
            display: block;
            margin: 12px auto 0;
            height: 3px;
            width: 85px;
            background-color: $gray-light;
        }
    }
    &--news {
        img {
            margin-right: 10px;
        }
        a {
            color: $gray-dark;
        }
        h4 {
            font-size: 14px;
			line-height: 17px;
			text-align: left;
            font-weight: 600;
            margin-bottom: 0;
        }
    }
    &--contact {
        h4 {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }
}

.main-sidebar {
	padding: 50px 0;
}

.links-list {
    &__item {

    }
    &__icon {
        width: 50px;
        height: 50px;
        background-color: $gray-light;
        margin-right: 10px;
        @include border-radius(50%);
        i {
            font-size: 28px;
            color: #fff;
        }
    }
}

.qtranxs_widget_end {
	display: none;
}

#map {
	height: 400px;
}

.meshim_widget_widgets_TitleBar {
	background: $blue;
}

.meshim_widget_components_chatWindow_MainStack.ms_br {
	border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.icon-item {
	display: flex;
	align-items: center;
	i {
		font-size: 22px;
		color: $blue-light;
		margin-right: 8px;
	}
}

.tracking-block {
	@include flex;
	justify-content: space-between;
	align-items: center;
	@include bp-small {
		display: block;
		input {
			margin-bottom: 10px;
			max-width: 100%;
			min-width: 0;
		}
	}
}

.modal-content {
	@include border-radius(2px);
}

.modal-header {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.media--about {
	img {
		width: 50%;
	}
}
