@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700&subset=latin-ext');

@import 'components/all';
@import 'base/all';
@import 'pages/all';

html {
	min-height: 100%;
    position: relative;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $black;
    font-size: 16px;
    margin-bottom: 414px;
	background-color: $gray-lighter;
}

a {
    font-weight: bold;
    color: $blue-light;
    @include transition(color .03s ease-in);
    &:hover {
        text-decoration: none;
        // color: $blue-light;
    }
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

h3 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: center;
	&:after {
		content: '';
		display: block;
		margin: 24px auto 0;
		height: 4px;
		width: 85px;
		background-color: $gray-light;
	}
}

h4 {
	font-size: 18px;
}

ul, ol {
    margin-bottom: 0;

}

img {
	max-width: 100%;
}

.page-title {
    padding: 80px 0 130px;
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/hero-bkg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        font-size: 40px;
        color: #fff;
        margin-bottom: 0;
    }
}

.small-icon {
    display: inline-block;
    font-size: 21px;
    color: darken($gray, 20%);
}

.section {
    position: relative;
    padding: 40px 0;
	background: #fff;
	img {
		margin: 10px 0 30px;
	}
    &--hero {
        background: linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../img/hero-bkg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 100px;
        min-height: 450px;
    }
    &--contact {
        padding: 0;
    }
    &--gray {
        background: $gray-lighter;
    }
	&--single {
		margin-top: -50px;
		padding: 40px;
	}
	&--faq {
		background: $black;
		color: #fff;
		h3:after {
			background-color: $gray;
		}
	}
	&--bkg-image {
		background: url('../img/blurred.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding: 80px 0;
		h3 {
			color: #fff;
		}
	}
}

.collapsible-block-wrapper {
	padding-top: 20px;
}

.collapsible-block__header {
	cursor: pointer;
	margin-bottom: 15px;
	i {
		font-size: 22px;
		color: $yellow;
		margin-right: 12px !important;
	}
	h4 {
		margin-bottom: 0;
	}
}

.collapsible-block {
	padding-left: 35px;
	color: $yellow;
}

.text-card-item {
	color: #fff;
	padding: 20px 30px;
	background: rgba(255,255,255,0.28);
	margin: 5px;
	@include border-radius(2px);
	position: relative;
	overflow: hidden;
	span {
		position: relative;
		z-index: 2;
	}
	i {
		color: rgba(255,255,255,0.1);
		position: absolute;
		z-index: 1;
		width: 100%;
		top: 0;
		left: 0;
		margin: 0 auto !important;
		text-align: center;
		font-size: 80px;
		line-height: 0.8;
		transform: rotate(-45deg);
		&.rotate-90 {
			transform: rotate(-90deg);
		}
	}
}

.date {
    font-size: 12px;
	font-weight: 300;
    color: $gray;
}

// Content section
.section--content {
	background: $gray-lighter;
    padding: 0 0 70px;
}

.info-block {
    // background-color: $gray-lighter;
    // padding: $padding;
    // height: 100%;
	font-weight: 300;
    // border-top: 3px solid $blue-light;
    h3 {
        text-align: center;
        margin-bottom: 25px;
		color: $gray-dark;
        &:after {
            content: '';
            display: block;
            margin: 12px auto 0;
            height: 3px;
            width: 85px;
            background-color: $gray-light;
        }
    }
    &--news {
        // background-color: $gray-dark;
        // color: #fff;
        img {
            margin-right: 10px;
        }
        a {
            color: $gray-dark;
        }
        h3:after {
            background-color: lighten($gray-dark, 10%);
        }
        h4 {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 0;
        }
    }
    &--contact {
        h4 {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }
}

.main-sidebar {
	padding: 50px 0;
}

.links-list {
    &__item {

    }
    &__icon {
        width: 50px;
        height: 50px;
        background-color: $gray-light;
        margin-right: 10px;
        @include border-radius(50%);
        i {
            font-size: 28px;
            color: #fff;
        }
    }
}

.qtranxs_widget_end {
	display: none;
}

#map {
	height: 400px;
}

.meshim_widget_widgets_TitleBar {
	background: $blue;
}

.meshim_widget_components_chatWindow_MainStack.ms_br {
	border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
