@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 9px 20px;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -ms-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-box-shadow: 3px 8px 20px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 3px 8px 20px 0 rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 3px 8px 20px 0 rgba(0, 0, 0, 0.35);
  -o-box-shadow: 3px 8px 20px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 3px 8px 20px 0 rgba(0, 0, 0, 0.35);
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in; }
  .button:hover {
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2); }
  .button--primary {
    border-color: #1896D4;
    background-color: #1896D4;
    color: #fff; }
    .button--primary:hover {
      color: #fff;
      background-color: #168cc6; }
  .button--inverse {
    border-color: #1896D4;
    background-color: #fff;
    color: #1896D4; }
    .button--inverse:hover {
      color: #1896D4; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #2A2A2A;
  font-size: 15px;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.45);
  -ms-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.45);
  -o-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.45);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.45); }

a {
  font-weight: bold;
  color: #1896D4;
  -webkit-transition: color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in;
  -ms-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in; }
  a:hover {
    text-decoration: none;
    color: #253572; }

ul, ol {
  margin-bottom: 0; }

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; }
  .form-group:not(:first-of-type) {
    padding-top: 20px;
    border-top: 1px solid #D5D5D5; }

.form-check-input {
  position: absolute;
  left: -9999px; }
  .form-check-input + label {
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background: #fff;
    cursor: pointer;
    padding: 10px;
    margin: 0 15px;
    width: 160px;
    border: 2px solid transparent;
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -ms-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
    .form-check-input + label:hover {
      -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
      -o-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2); }
    .form-check-input + label + .fa-check-circle {
      position: absolute;
      right: 10px;
      top: 10px;
      display: none;
      color: #1896D4; }
  .form-check-input:checked + label {
    font-weight: 600;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    border-bottom-color: #1896D4; }
    .form-check-input:checked + label + .fa-check-circle {
      display: block; }
  .form-check-input:last-of-type + label {
    margin-right: 0; }

.form-check {
  display: flex; }

.import-wrapper {
  overflow: hidden;
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  -webkit-transition: height 0.25s ease-in-out;
  -moz-transition: height 0.25s ease-in-out;
  -ms-transition: height 0.25s ease-in-out;
  -o-transition: height 0.25s ease-in-out;
  transition: height 0.25s ease-in-out; }

.import-wizzard-finish-wrapper {
  height: 0;
  margin-top: 30px; }

.form-group__question {
  display: flex; }

.form-group__question-header h4 {
  margin: 0;
  font-weight: 600;
  font-size: 16px; }

.form-group__question-header span {
  font-size: 13px;
  font-weight: 300; }

.form-check-input-wrapper {
  position: relative; }

.form-group__order {
  background: #D5D5D5;
  border-radius: 50%;
  display: flex;
  line-height: 1;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-right: 10px;
  font-weight: 400;
  font-size: 14px; }

#import-wizzard-finish {
  background-color: #1896D4;
  color: #fff;
  padding: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 3px 5px 15px 0 rgba(0, 0, 0, 0.3); }

.page-title {
  padding: 50px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-bkg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .page-title h1 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 0; }

.small-icon {
  display: inline-block;
  font-size: 22px;
  color: #D5D5D5; }

.main-header {
  background: #fff;
  border-top: 2px solid #1896D4;
  padding: 10px 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25); }

.main-footer {
  color: #fff;
  background-image: url("../img/world_map.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25); }

.logo img {
  width: 70px; }

.dropdown-toggle--language {
  -webkit-appearance: none !important; }

.section {
  position: relative;
  padding: 50px 0; }
  .section--hero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/hero-bkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px; }
  .section--contact {
    padding: 0; }
  .section--gray {
    background: #F3F3F3; }

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px; }

.date {
  font-size: 13px;
  color: #9E9E9E; }

textarea {
  width: 100%;
  padding: 7px 12px;
  border-color: #D5D5D5;
  min-height: 100px;
  resize: none;
  -webkit-transition: border-color 0.15s ease-in;
  -moz-transition: border-color 0.15s ease-in;
  -ms-transition: border-color 0.15s ease-in;
  -o-transition: border-color 0.15s ease-in;
  transition: border-color 0.15s ease-in; }
  textarea:focus {
    outline: none;
    border-color: #2A2A2A; }
  textarea.placeholder {
    font-size: 14px;
    color: #D5D5D5; }
  textarea:-moz-placeholder {
    font-size: 14px;
    color: #D5D5D5; }
  textarea::-moz-placeholder {
    font-size: 14px;
    color: #D5D5D5; }
  textarea:-ms-input-placeholder {
    font-size: 14px;
    color: #D5D5D5; }
  textarea::-webkit-input-placeholder {
    font-size: 14px;
    color: #D5D5D5; }

select {
  padding: 7px 12px;
  border-color: #D5D5D5;
  -webkit-transition: border-color 0.15s ease-in;
  -moz-transition: border-color 0.15s ease-in;
  -ms-transition: border-color 0.15s ease-in;
  -o-transition: border-color 0.15s ease-in;
  transition: border-color 0.15s ease-in; }
  select:focus {
    outline: none;
    border-color: #2A2A2A; }
  select.placeholder {
    font-size: 14px;
    color: #D5D5D5; }
  select:-moz-placeholder {
    font-size: 14px;
    color: #D5D5D5; }
  select::-moz-placeholder {
    font-size: 14px;
    color: #D5D5D5; }
  select:-ms-input-placeholder {
    font-size: 14px;
    color: #D5D5D5; }
  select::-webkit-input-placeholder {
    font-size: 14px;
    color: #D5D5D5; }

.full-width {
  width: 100%; }

.tracking-block {
  background-color: #F3F3F3;
  padding: 20px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25); }
  .tracking-block textarea {
    width: 100%; }
  .tracking-block .button {
    width: 100%; }
  .tracking-block__info {
    font-size: 12px;
    line-height: 1.3; }

.moto {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  padding-left: 30px; }

.section--content {
  padding: 0 0 70px; }

.info-blocks-wrapper {
  margin-top: -50px; }

.info-block {
  background-color: #F3F3F3;
  padding: 20px;
  height: 100%;
  border-top: 3px solid #1896D4;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  .info-block h3 {
    text-align: center;
    margin-bottom: 25px; }
    .info-block h3:after {
      content: '';
      display: block;
      margin: 12px auto 0;
      height: 3px;
      width: 85px;
      background-color: #D5D5D5; }
  .info-block--news {
    background-color: #404040;
    color: #fff; }
    .info-block--news img {
      margin-right: 10px; }
    .info-block--news a {
      color: #fff; }
    .info-block--news h3:after {
      background-color: #5a5a5a; }
    .info-block--news h4 {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 0; }
  .info-block--contact h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px; }

.color-yellow {
  color: #F6D22F !important; }

.links-list__icon {
  width: 50px;
  height: 50px;
  background-color: #D5D5D5;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }
  .links-list__icon i {
    font-size: 28px;
    color: #fff; }

.social-block h4 {
  font-size: 14px;
  color: #fff;
  margin: 0; }

.social-block a {
  display: inline-block;
  color: #fff;
  height: 32px; }
  .social-block a i {
    font-size: 32px;
    height: 32px; }

/***  Posts page  ***/
.posts-list__post {
  height: 200px;
  background-color: #F3F3F3;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background-color 0.1s ease-in;
  -moz-transition: background-color 0.1s ease-in;
  -ms-transition: background-color 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in; }
  .posts-list__post:hover {
    background-color: #D5D5D5; }
  .posts-list__post a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.posts-list__post-image {
  width: 200px;
  flex-shrink: 0;
  background-image: url("http://lorempixel.com/500/500");
  background-repeat: no-repeat;
  background-size: cover; }

.posts-list__post-content {
  padding: 20px; }

.post-excerpt {
  border-bottom: 1px solid #D5D5D5;
  margin-bottom: 30px; }
  .post-excerpt p {
    font-size: 22px;
    font-weight: bold; }
