@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import 'components/all';
@import 'base/all';
@import 'pages/all';

html {
	min-height: 100%;
    position: relative;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $black;
    font-size: 16px;
    margin-bottom: 300px;
}

a {
    font-weight: bold;
    color: $blue-light;
    @include transition(color .03s ease-in);
    &:hover {
        text-decoration: none;
        color: $blue;
    }
}

ul, ol {
    margin-bottom: 0;
}

img {
	max-width: 100%;
}

.excerpt {
	background-color: #f3f3f3;
	font-weight: 600;
	padding: 30px 0 20px;
	line-height: 26px;
}

.wp-caption-text {
	font-size: 14px;
	color: #999;
	font-weight: 300;
	font-style: italic;
	border-bottom: 1px solid #999;
	padding: 2px 2px 3px;
	margin-bottom: 40px;
}

.page-title {
    padding: 50px 0;
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/hero-bkg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        font-size: 40px;
        color: #fff;
        margin-bottom: 0;
    }
}

.small-icon {
    display: inline-block;
    font-size: 22px;
    color: $gray-light;
}

.menu-main-menu-container a {
	font-weight: normal;
}

.logo {
    img {
        width: 60px;
    }
}

.dropdown-toggle--language {
    -webkit-appearance: none !important;
}

.section {
    position: relative;
    padding: 40px 0;
    &--hero {
        background: linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../img/hero-bkg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 100px;
        min-height: 450px;
    }
    &--contact {
        padding: 0;
    }
    &--gray {
        background: $gray-lighter;
    }
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.date {
    font-size: 13px;
    color: $gray;
}

.tracking-block {
    // width: 400px;
    .button {
        width: 100%;
    }
    &__info {
        margin-top: 5px;
        color: $gray;
        text-transform: uppercase;
        font-size: 11px;
        line-height: 1.3;
    }
}

.moto {
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

// Content section
.section--content {
	background: $gray-lighter;
    padding: 0 0 70px;
}

.info-block {
    // background-color: $gray-lighter;
    // padding: $padding;
    // height: 100%;
	font-weight: 300;
    // border-top: 3px solid $blue-light;
    h3 {
        text-align: center;
        margin-bottom: 25px;
        &:after {
            content: '';
            display: block;
            margin: 12px auto 0;
            height: 3px;
            width: 85px;
            background-color: $gray-light;
        }
    }
    &--news {
        background-color: $gray-dark;
        color: #fff;
        img {
            margin-right: 10px;
        }
        a {
            color: #fff;
        }
        h3:after {
            background-color: lighten($gray-dark, 10%);
        }
        h4 {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 0;
        }
    }
    &--contact {
        h4 {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }
}

.links-list {
    &__item {

    }
    &__icon {
        width: 50px;
        height: 50px;
        background-color: $gray-light;
        margin-right: 10px;
        @include border-radius(50%);
        i {
            font-size: 28px;
            color: #fff;
        }
    }
}

.qtranxs_widget_end {
	display: none;
}

#map {
	height: 400px;
}

.nav {
	margin-right: 10px;
}

.nav li {
	margin-right: 20px;
}

@media only screen and (max-width: 960px) {
	.info-blocks-wrapper .col-12 {
		margin-bottom: 30px;
	}
	.tracking-block__info {
		margin-bottom: 10px;
	}
	.moto {
		font-size: 20px;
		margin: 20px 0;
	}
}

@media only screen and (max-width: 768px) {
	.form-group {
		flex-direction: column;
	}
	.form-group__question {
		margin-bottom: 20px;
	}
	.form-check-input + label {
		width: auto;
	}
}
