@import '../base/all';

.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 9px 20px;
    font-size: 1rem;
    line-height: 1.5;
    @include border-radius(3px);
    @include transition(background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out);
    @include box-shadow(3px 8px 20px 0 rgba(0, 0, 0, 0.35));
    @include transition(all .15s ease-in);
    &:hover {
        @include box-shadow(0 0 2px 0 rgba(0,0,0,.2));
    }

    &--primary {
        border-color: $blue-light;
        background-color: $blue-light;
        color: #fff;
        &:hover {
            color: #fff;
            background-color: darken($blue-light, 5%);
        }
    }

    &--inverse {
        border-color: $blue-light;
        background-color: #fff;
        color: $blue-light;
        &:hover {
            color: $blue-light;
        }
    }
}
