.input {
    width: 100%;
    padding: 12px;
    border: 1px solid $gray-light;
    @include transition(border-color .15s ease-in);
    &:focus {
        outline: none;
        border-color: $black;
    }
    @include input-placeholder(){
        font-size: 14px;
        font-weight: 300;
        color: $gray-light;
    };
}

.input--tracking {
    padding: 16px 14px;
    min-width: 430px;
    &:focus {
        border-color: $gray;
    }
}

select {
    padding: 7px 12px;
    border-color: $gray-light;
    @include transition(border-color .15s ease-in);
    &:focus {
        outline: none;
        border-color: $black;
    }
    @include input-placeholder(){
        font-size: 14px;
        color: $gray-light;
    };
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    &:not(:first-of-type) {
        padding-top: 20px;
        border-top: 1px solid $gray-light;
    }
}

.form-check-input {
    position: absolute;
    left: -9999px;
    + label {
        font-weight: 300;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        background: #fff;
        cursor: pointer;
        padding: 10px;
        margin: 0 15px;
        width: 160px;
        border: 2px solid transparent;
        // @include border-radius(3px);
        @include transition(background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out);
        // @include box-shadow(3px 5px 15px 0 rgba(0, 0, 0, 0.1));
        &:hover {
            @include box-shadow(0 0 2px 0 rgba(0,0,0,.2));
        }
        + .fa-check-circle {
            position: absolute;
            right: 10px;
            top: 10px;
            display: none;
            color: $blue-light;
        }
    }
    &:checked {
        + label {
            font-weight: 600;
            @include box-shadow(0 0 2px 0 rgba(0,0,0,.2));
            border-bottom-color: $blue-light;
            + .fa-check-circle {
                display: block;
            }
        }
    }
    &:last-of-type {
        + label {
            margin-right: 0;
        }
    }
}

.form-check {
    display: flex;
}

.form-group__question {
    display: flex;
}

.form-group__question-header {
    h4 {
        margin: 0;
        font-weight: 600;
        font-size: 16px;
    }
    span {
        font-size: 13px;
        font-weight: 300;
    }
}

.form-check-input-wrapper {
    position: relative;
}

.form-group__order {
    background: $gray-light;
    border-radius: 50%;
    display: flex;
    line-height: 1;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
}